body {
  background-color: #f1f3ed;
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* ---- Navigation ---- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #C8A2C8;
}

.nav-icon-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

@media (min-width: 768px) {
  img.burger-menu {
    display: none;
}
}
@media (max-width: 768px) {
.desktop img.icon-cart,
.desktop img.icon-wish,
.desktop img.icon-account  ,
.desktop img.icon-search {
    display: none;
}

.nav-right.nav-icon-wrap.desktop {
  display: none;
}
}

.shop-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* ---- Product Card ---- */
.product-card {
  background: #ffffff;
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card-details {
  padding: 1rem;
}
.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border-top-left-radius: 1rem; */
  /* border-top-right-radius: 1rem; */
}

.product-heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.stats-wrap {

  text-align: left;
  
}

.product-cta-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card button {
  background: #508650;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.product-card button:hover {
  background: #3e693e;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

  .filter-container {
    display: none;
}

.controls {
  padding: 2rem 0;
  display: flex;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .shop-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) {
  .shop-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
    main.shop-container {
  display: grid;
  /* grid-template-columns: 1fr 4fr; */
}
  button.filter-mobile {
    display: none;
}

  .filter-container {
    display: block;
    position: relative;
    display: flex;
    grid-gap: 20px;
    padding: 0 20px;
}

}


header.header {
  padding: 20px;
  text-align: center;
}

aside.filter {
  padding: 1rem;
  margin-right: 1rem;
}


.dropdown-menu {
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
}






